{% extends 'base.html' %}

{% block 'conteudo' %}

<!DOCTYPE html>  
<html lang="pt-br">  
    <h2>Funcionários Cadastrados</h2>  
    <ul>  
        {% for funcionario in funcionarios %}  
            <li>{{ funcionario.nome }} - {{ funcionario.cargo }} - R$ {{ funcionario.salario }} - {{ funcionario.data_admissao }}</li>  
        {% endfor %}  
    </ul>  

    <form action="{% url 'exportar_funcionarios' %}" method="post">  
        {% csrf_token %}  
        <button type="submit">Exportar Funcionários</button>  
    </form>  
</body>  
</html>







{% endblock 'conteudo' %}